body{
    overflow-x: hidden;
}

img{
    max-width: 100%;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: currentColor;
}

.copyright_icon{
    font-size: 12px;
}

a:hover{
    color: currentColor;
}

.bg_white{
    background-color: white;
}

.bg_black{
    background-color: black;
}

.bg_gray{
    background-color: #363636;
}

.ms_btn{
    border: 0;
    padding: 5px 20px;
    position: relative;
    white-space: nowrap;
}

.body_btn:hover{
    outline: 2px solid;
    outline-offset: 3px;
    transition: all 200ms ease-out;
}

.body_btn_red{
    background-color: #cd3d0f;
}

.body_btn_red.body_btn:hover{
    outline-color: #cd3d0f;
}

.body_btn_white{
    background-color: white;
}

.body_btn_white.body_btn:hover{
    outline-color: white;
}

.body_btn_blue{
    background-color: #0070D1;
}

.body_btn_blue.body_btn:hover{
    outline-color: #0070D1;
}

.body_btn_gray{
    background-color: #d9dadc;
    color: #0070D1;
}

.body_btn_gray.body_btn:hover{
    outline-color: #d9dadc;
}

/* SCROLL-BAR STYLE */
::-webkit-scrollbar {
    width: 12px;
}
/* MANIGLIA DI SCORRIMENTO */
::-webkit-scrollbar-thumb {
    border-top-left-radius: 9999px;
    border-bottom-left-radius: 9999px;
    background: #0070D1;
}



/*********** H E A D E R ***********/
header{
    display: contents;
}

.sony_logo{
    max-width: 75px;
    cursor: pointer;
}

.nav-link{
    padding: 0;
}

.navbar a{
    color: #000 !important;
    font-weight: 600;
}

.navbar a:focus, .navbar a:hover{
    color: #0070d1 !important;
    transition: all 250ms ease-in-out;    
}

.navbar .dropdown {
    position: static;
}

.navbar .dropdown-menu{
    width: 100%;
    border-radius: 0;
    margin-top: 0;
    border: 0;
}

.ms_drop_item, .ms_drop_item_btm{
    display: inline-block;
}

.ms_item_card{
    width: 150px;
    height: 130px;
}

.ms_item_card:hover{
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    transition: all 250ms ease-in-out;
}

.ms_drop_item img{
    width: 70px;
}

.ms_drop_item_btm::before{
    content: '';
    position: absolute;
    height: 8px;
    width: 8px;
    border-radius: 50%;
    top: 30%;
    left: 0;
    background-color: #0070d1;
}

.ms_drop_item a:hover{
    background-color: transparent;
}

.navbar .ms_drop_item_btm a:hover {
    background-color: transparent;
    color: #0070d1;
    transition: all 250ms ease-in-out;
}

.dropdown-toggle::after{
    border: 0;
    content: '\f078';
    font-family: "Font Awesome 5 Free";
    font-size: 0.7rem;
    font-weight: 900;
    color: #999999;
    position: relative;
    top: 3px;
}

.dropdown-toggle:hover::after{
    color:#0070d1;
    transition: all 250ms ease-in-out;
}

.navbar a.show::after {
    color: #0070D1;
    content: '\f077';
}

.ms_cta_login:hover{
    background-color: #666;
    transition: all 250ms ease-in-out;
}

.ms_search_md{
    font-size: 18px;
    background-color: transparent;
}

.ms_search_md:hover{
    color: #0070D1;
}




/*********** M A I N ***********/
/* J U M B O */
.game_banner{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.game_returnal{
    background-image: url(../img/jumbo-bg.png);
}

.game_banner .container{
    min-height: 700px;
}

.game_logo{
    width: 450px;
}

.game_title{
    font-size: 2.7rem;
}

.game_subtitle{
    font-size: 1.1rem;
}



/* L I S T - G A M E S */
.card_img{
    border-radius: 20px;
    opacity: 0.7;
    transition: all 250ms ease-in-out; 
}

.card_active{
    outline: 3px solid #0070D1;
    outline-offset: 3px;
    opacity: 1;
}

.card_img:hover{
    transform: translateY(-10px);
    opacity: 1;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.3);
}



/* P S 5 */
.accessories_title{
    font-size: 18px;
}

.accessories_card img{
    max-width: 60%;
}

.accessories_card{
    opacity: 0.7;
    transition: all 250ms ease-in-out;
}

.accessories_card:hover{
    opacity: 1;
}

.accessories_active{
    border-bottom: 3px solid #0070D1;
    opacity: 1;
}



/* B A N N E R - G  A M E */
.game_it_takes{
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
}



/* N E W - G A M E S */
.new_games_wrapper{
    background-color: #1f1f1f;
    color: white;
    min-height: 700px;
}

.new_games_card{
    z-index: 2;
}

.new_games_card img{
    border-radius: 20px;
    transition: all 250ms ease-in-out;
}

.new_games_card img:hover{
    transform: scale(1.03);
}

.ms_carousel{
    background-color: white;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    opacity: 1;
    display: absolute;
    transition: all 250ms ease-in;
}

.ms_carousel:hover{
    opacity: 1;
    outline: 2px solid white;
    outline-offset: 3px;
}

.carousel-caption{
    color: white;
    text-align: start;
    top: -140px;
    left: 0;
    max-width: 70%;
}

.carousel-control-prev{
    left: calc(100% - 50px - 10px - 50px);
    top: 50px;
}

.carousel-control-next{
    left: calc(100% - 50px);
    top: 50px;
}

.carousel-inner{
    padding-top: 150px;
}



/* PS4 */
.special_section img:hover{
    cursor: pointer;
}

.registered{
    font-size: 20px;
}



/* P L A Y S T A T I O N - P L U S */
.plus_container{
    background-color: #bebcbb;
}

.offer_logo{
    width: 380px;
}



/* P L A Y S T A T I O N - S T O R E */
.store_wrapper img{
    border-radius: 20px;
    transition: all 250ms ease-in-out;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.4);
}

.store_wrapper img:hover{
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}



/* P L A Y S T A T I O N - N O W */
.now_container{
    background-color: #161c3b;
}



/* S O C I A L */
.social_card img{
    border-radius: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
}

.social_card img:hover{
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
    animation: social_move 1s ease-in-out infinite;
}

@keyframes social_move {
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-10px);
    }
    100%{
        transform: translateY(0);
    }
}


/*********** F O O T E R ***********/
.section_footer{
    background-color: #00439C;
    color: white;
}

.ps_logo_footer img{
    width: 100px;
}

.footer_language{
    cursor: pointer;
}

.footer_link ul li{
    padding: 3px 0;
}

.footer_link ul li:hover{
    text-decoration: underline;
}

.footer_language img{
    width: 20px;
}

.sie_footer img{
    width: 130px;
}

.sie_text{
    font-size: 14px;
}

.sie_link{
    text-decoration: underline;
    opacity: 0.7;
}

.sie_link:hover{
    opacity: 1;
}



/*********** M E D I A ***********/
@media all and (min-width: 992px){
    .game_logo{
        width: 250px;
    }
}

@media all and (min-width: 768px){
    .social_link .social_card{
        width: 150px;
    }
}