
.bg_black{
    background-color: black;
}

.bg_gray{
    background-color: #363636;
}

.ms_btn{
    border: 0;
    padding: 5px 20px;
    position: relative;
}

.body_btn:hover::after{
    background: none;
    border: 2px solid;
    content: "";
    display: block;
    position: absolute;
    border-radius: 999px;
    top: -4px;
    bottom: -4px;
    left: -4px;
    right: -4px;
    transition: all 250ms linear;
}

.body_btn_red{
    background-color: #cd3d0f;
}

.body_btn_red.body_btn::after{
    border-color: #cd3d0f;
}

.body_btn_white{
    background-color: white;
}

.body_btn_white.body_btn::after{
    border-color: white;
}

.body_btn_blue{
    background-color: #0070D1;
}

.body_btn_blue.body_btn::after{
    border-color: #0070D1;
}


/*********** H E A D E R ***********/
header{
    display: contents;
}

.sony_logo{
    max-width: 75px;
}

.nav-link{
    padding: 0;
}

.navbar a{
    color: #000 !important;
    font-weight: 600;
}

.navbar a:focus, .navbar a:hover{
    color: #0070d1 !important;
    transition: all 250ms ease-in-out;    
}

.navbar .dropdown {
    position: static;
}

.navbar .dropdown-menu{
    width: 100%;
    border-radius: 0;
    margin-top: 0;
    border: 0;
}

.ms_drop_item, .ms_drop_item_btm{
    display: inline-block;
}

.ms_item_card{
    width: 150px;
    height: 130px;
}

.ms_item_card:hover{
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    transition: all 250ms ease-in-out;
}

.ms_drop_item img{
    width: 70px;
}

.ms_drop_item_btm::before{
    content: '';
    position: absolute;
    height: 8px;
    width: 8px;
    border-radius: 50%;
    top: 30%;
    left: 0;
    background-color: #0070d1;
}

.navbar .ms_drop_item_btm a:hover {
    background-color: transparent;
    color: #0070d1;
    transition: all 250ms ease-in-out;
}

.dropdown-toggle::after{
    border: 0;
    content: '\f078';
    font-family: "Font Awesome 5 Free";
    font-size: 0.7rem;
    font-weight: 900;
    color: #999999;
    position: relative;
    top: 3px;
}

.dropdown-toggle:hover::after{
    color:#0070d1;
    transition: all 250ms ease-in-out;
}

.navbar a.show::after {
    color: #0070D1;
    content: '\f077';
}

.ms_cta_login:hover{
    background-color: #666;
    transition: all 250ms ease-in-out;
}

.ms_search_md{
    font-size: 18px;
    background-color: transparent;
}

.ms_search_md:hover{
    color: #0070D1;
}




/*********** M A I N ***********/
body{
    background-color: darkslategray;
}

/* J U M B O */
#jumbo_game{
    background-image: url(../img/jumbo-bg.png);
    height: 700px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#jumbo_game .container-fluid{
    height: 100%;
}

.game_logo{
    width: 250px;
}





/*********** M E D I A ***********/
@media all and (min-width: 992px){
    .ms_form_search{
        display: none;
    }
}